### 0. Avem un set de date despre venitul persoanelor din Statele Unite continand urmatoarele informatii:

**age**: continuous.

**workclass**: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

**fnlwgt**: continuous.

**education**: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

**education-num**: continuous.

**marital-status**: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

**occupation**: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

**race**: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

**sex**: Female, Male.

**capital-gain**: continuous.

**capital-loss**: continuous.

**hours-per-week**: continuous.

**native-country**: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.


**label**: <=50k, >=50k

### 1. Descrieti un plan pentru constructia unui predictor pentru coloana label.

### 2. Pentru acelasi set de date, construiti un plan pentru a oferi o recomandare bazata pe date de crestere a venitului la peste 50k$/year.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('data_train.csv',names=['age','workclass','fnlwgt','education','education_num','marital_status','occupation','race','sex','capital_gain','capital_loss','hours_per_week','native_country','label'])

In [3]:
train_test=pd.read_csv('data_train.csv',names=['age','workclass','fnlwgt','education','education_num','marital_status','occupation','race','sex','capital_gain','capital_loss','hours_per_week','native_country','label'])

In [4]:
train_data_1=train.drop('label',axis=1)

In [5]:
testare_data=train_test.drop('label',axis=1)

In [6]:
traindatap=train_data_1.append(testare_data)

In [7]:
label=train['label'].append(train_test['label'])

In [8]:
traindatap.head()

,,age,workclass,fnlwgt,education,education_num,marital_status,occupation,race,sex,capital_gain,capital_loss,hours_per_week,native_country
NaN,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
27239.0,34,Local-gov,144182,Preschool,1,Never-married,Adm-clerical,Own-child,Black,Female,0,0,25,United-States
19102.0,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico
16791.0,26,State-gov,152457,HS-grad,9,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States
2832.0,57,Self-emp-not-inc,353808,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States

In [9]:
full_trainset=train.append(train_test)

In [10]:
label.head()

NaN      age     label
27239.0  34      <=50K
19102.0  20      <=50K
16791.0  26      <=50K
2832.0   57       >50K
Name: label, dtype: object

In [ ]:
train_binary=pd.get_dummies(traindatap)

In [ ]:
train_binary.head()

In [63]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train_binary,label)

In [64]:
performance=[]

In [69]:
# LogisticRegression
from sklearn.linear_model import LogisticRegression

logClassifier = LogisticRegression()

In [70]:
logClassifier.fit(x_train,y_train)
#train_score = logClassifier.score(x_train,y_train)
#test_score = logClassifier.score(x_test,y_test)

C:\Users\Andra\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Andra\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [71]:
train_score = logClassifier.score(x_train,y_train)
test_score = logClassifier.score(x_test,y_test)
print(f'LogisticRegression : Training score - {train_score} - Test score - {test_score}')

performance.append({'algorithm':'LogisticRegression', 'training_score':train_score, 'testing_score':test_score})

LogisticRegression : Training score - 0.9302272675569306 - Test score - 0.8946973316044496

In [48]:
from sklearn.neighbors import KNeighborsClassifier
scores_first=[]

In [49]:
train_score=[]
test_scores=[]
for n in range(1,20,2):
     scores_first=KNeighborsClassifier(n_neighbors=n)

In [50]:
train_score=scores_first(x_train,y_train)
test_score=scores_first(x_test,y_test)
train_scores.append(train_score)
test_scores.append(test_score)
print(f'KNN : Training score - {train_score} -- Test score - {test_score}')
    scores_first_scores.append({'algorithm':'KNN', 'training_score':train_score})

IndentationError: unexpected indent (<ipython-input-50-db3be21b1122>, line 6)